[project]
	description = clickconcepts-master-pom
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike! (mike-ensor)
[access "refs/for/refs/*"]
	read = group user/Mike! (mike-ensor)
	push = group user/Mike! (mike-ensor)
	label-Code-Review = -2..+2 group user/Mike! (mike-ensor)
	label-Verified = -1..+1 group user/Mike! (mike-ensor)
	rebase = group user/Mike! (mike-ensor)
	removeReviewer = group user/Mike! (mike-ensor)
	submit = group user/Mike! (mike-ensor)
[access "refs/heads/*"]
	read = group user/Mike! (mike-ensor)
	create = group user/Mike! (mike-ensor)
	push = +force group user/Mike! (mike-ensor)
	pushMerge = group user/Mike! (mike-ensor)
[access "refs/tags/*"]
	push = +force group user/Mike! (mike-ensor)
	pushTag = group user/Mike! (mike-ensor)
	pushSignedTag = group user/Mike! (mike-ensor)
